.wrapper {
  width: fit-content;
  padding: 12px 24px;
  border-radius: 0.3125rem;
  border: 1px solid #4d4c4c;
  background: rgba(46, 46, 46, 0.4);
  backdrop-filter: blur(12px);
}

.name {
  font-family: var(--font-urbanist);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: white;
}
