@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200&display=swap');

section {
    width: 100%;
    height: 100vh;
    background-color: rgb(33, 33, 30);
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    /* background-color: #26c2ff; */
    background-color: #fff;
}

.c-container {
    margin-top: 20px;
    position: relative;
    width: 85%;
    height: 80vh;
    display: flex;
    z-index: 5;
}

.c-container .contactInfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background-color: rgb(33, 33, 30);
    z-index: 2;
    padding: 40px 40px 20px 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}

.contactInfo h1 {
    margin: 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.c-container .contactForm {
    position: absolute;
    padding: 80px 50px 40px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background-color: #fff;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
}

.contactForm h1 {
    margin: 0;
    margin-bottom: 10px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.imputs {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.i-top {
    display: flex;
    justify-content: space-between;
}

.send-message {
    width: 150px;
    height: 45px;
    margin-top: 15px;
    border: 1px solid #000;
    background-color: rgb(33, 33, 30);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    transition: 0.3s;
}

.send-message:hover {
    /* color: #26c2ff; */
    transform: scale(1.1);
}

#contact path {
    stroke: #fff;
}

.calhoz {
    width: 150px;
}

#info .mail {
    display: none;
}

@media only screen and (min-width: 1120px) {
   
}

@media only screen and (max-width: 1220px) { 

    .c-container {
        width: 90%;
        margin-top: 30px;
    }
   
    .c-container .contactInfo {
       height: 100%;
       top: 0px;
    }
}

@media only screen and (max-width: 600px) {
    #contact .navbar path {
        stroke: #000;
    }

    #contact .nav-active path {
        stroke: #fff;
    }
    
    section {
        background-color: #fff;
        height: 100%;
    }

    section::before {
        width: 0;
    }

    .c-container {
        margin-top: 80px;
        width: 100%;
        /* height: calc(100vh - 80px); */
        /* position: static; */
        height: 100%;
        flex-direction: column-reverse;
    }

    .c-container .contactInfo {
        position: static;
        width: 100%;
    }

    .c-container .contactForm {
        position: static;
        width: 100%;
        padding: 0px 30px;
        margin: 0px;
        margin-bottom: 40px;
        box-shadow: none;
    }

    .i-top {
        flex-direction: column;
    }

    .send-message {
        margin-bottom: 0px;
        margin-top: 60px;
    }

    .calhoz {
        width: 0px;
    }
}